@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Seja bem vindo(a) ao sistema de controle de gastos!</h1>
    <p>Lembre-se de logar/registrar antes de acessar nossos menus</p>
</div>
