@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Não capturamos nenhuma de suas informações para uso empresarial. 
    Apenas você tem acesso a suas devidas informações salva em nosso banco de dados
</p>
